@model IEnumerable<PMTool.Models.Task>
@using Microsoft.AspNetCore.Http;


@{
    ViewData["Title"] = $"Tasks of {Context.Session.GetString("listName")}";
}
<br />
<h2 class="display text-center">@ViewData["Title"]</h2>



<div class="jumbotron">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <a asp-action="Create" asp-route-id="TaskListId" class="btn btn-outline-dark">Add task</a>
            <a asp-action="Index" asp-controller="taskList" class="btn btn-outline-primary">Back to List</a>
        </div>
    </div>
    <br />
    <div class="list-group">
        <ol>
            @foreach (var item in Model)
            {
                <li>
                    <a asp-controller="task" asp-action="Details" asp-route-id="@item.TaskId" 
                       class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1"><b>Task: </b>@Html.DisplayName(item.TaskName)</h5>
                        </div>
                        <div class="d-flex w-100 justify-content-between">
                            <p class="mb-1"><b>Due to: </b>@Html.DisplayFor(modelItem => item.ExpectedDate)</p>
                            <p class="mb-1">
                                <b>Status:</b>@if (item.TaskActiveFlag == 1)
                                {<b>Open</b>}
                                else
                                { <b>Finished</b>}
                            </p>
                        </div>
                            
                        
                    </a>
                </li>
            }
        </ol>
    </div>
</div>

