@model IEnumerable<PMTool.Models.Project>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <br /><br /><br />
    <br /><br /><br />
    <div class="row">

        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <a class="btn btn-default" asp-controller="Clients" asp-action="Index">View Clients</a><br /><br />
            <a class="btn btn-default" asp-controller="Employee" asp-action="Index">View Employees</a><br /><br />
        </div>
        <div class="col-md-4">
            <a class="btn btn-default" asp-controller="OwnersLicense" asp-action="Create">Add License</a><br /><br />
            <a class="btn btn-default" asp-controller="Person" asp-action="Create">Add Person</a><br /><br />
            <a class="btn btn-default" asp-controller="Projects" asp-action="Create">Add Project</a><br /><br />
            <a class="btn btn-default" asp-controller="Clients" asp-action="Create">Add Clients</a><br /><br />
        </div>
    </div>
        <ol>
            @foreach (var item in Model)
            {
                <li class="rectangle">
                    <a asp-controller="projects" asp-action="Details" asp-route-id="@item.ProjectId">
                        <span class="projectRectangle">@Html.DisplayFor(modelItem => item.ProjectName)<br />
                        @Html.DisplayFor(modelItem => item.StartDate) - @Html.DisplayFor(modelItem => item.EndDate)</span>
                    </a>
                </li>
            }
        </ol>

    
</div>

