@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid" style="background: url('../images/smashing.jpg') no-repeat fixed center;">

    <br />    <br />    <br />    <br />    <br />
    <br />    <br />    <br />    <br />    <br />
    <br />    <br />    <br />    <br />    <br />
    <br />    <br />    <br />    <br />    <br />
    <br />    <br />    <br />    <br />    <br />
    <br />    <br />    <br />    <br />    <br />
    <br />    <br />    <br />    <br />    <br />
    

</div>