@model PMTool.Models.Client

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Client</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ClientId" />
            <div class="form-group">
                <label asp-for="PersonId" class="control-label"></label>
                <select asp-for="PersonId" class="form-control" asp-items="ViewBag.PersonId"></select>
                <span asp-validation-for="PersonId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BusinessDescription" class="control-label"></label>
                <input asp-for="BusinessDescription" class="form-control" />
                <span asp-validation-for="BusinessDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WebAddress" class="control-label"></label>
                <input asp-for="WebAddress" class="form-control" />
                <span asp-validation-for="WebAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DomainLoginUrl" class="control-label"></label>
                <input asp-for="DomainLoginUrl" class="form-control" />
                <span asp-validation-for="DomainLoginUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DomainUsername" class="control-label"></label>
                <input asp-for="DomainUsername" class="form-control" />
                <span asp-validation-for="DomainUsername" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DomainPassword" class="control-label"></label>
                <input asp-for="DomainPassword" class="form-control" />
                <span asp-validation-for="DomainPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HostingLoginUrl" class="control-label"></label>
                <input asp-for="HostingLoginUrl" class="form-control" />
                <span asp-validation-for="HostingLoginUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HostingUserName" class="control-label"></label>
                <input asp-for="HostingUserName" class="form-control" />
                <span asp-validation-for="HostingUserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HostingPassword" class="control-label"></label>
                <input asp-for="HostingPassword" class="form-control" />
                <span asp-validation-for="HostingPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WpLoginUrl" class="control-label"></label>
                <input asp-for="WpLoginUrl" class="form-control" />
                <span asp-validation-for="WpLoginUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WpUserName" class="control-label"></label>
                <input asp-for="WpUserName" class="form-control" />
                <span asp-validation-for="WpUserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WpPassword" class="control-label"></label>
                <input asp-for="WpPassword" class="form-control" />
                <span asp-validation-for="WpPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GoogleAnalyticsUrl" class="control-label"></label>
                <input asp-for="GoogleAnalyticsUrl" class="form-control" />
                <span asp-validation-for="GoogleAnalyticsUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GoogleAnalyticsUsername" class="control-label"></label>
                <input asp-for="GoogleAnalyticsUsername" class="form-control" />
                <span asp-validation-for="GoogleAnalyticsUsername" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GoogleAnalyticsPassword" class="control-label"></label>
                <input asp-for="GoogleAnalyticsPassword" class="form-control" />
                <span asp-validation-for="GoogleAnalyticsPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GoogleSearchConsoleUrl" class="control-label"></label>
                <input asp-for="GoogleSearchConsoleUrl" class="form-control" />
                <span asp-validation-for="GoogleSearchConsoleUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GoogleSearchConsoleUsername" class="control-label"></label>
                <input asp-for="GoogleSearchConsoleUsername" class="form-control" />
                <span asp-validation-for="GoogleSearchConsoleUsername" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GoogleSearchConsolePassword" class="control-label"></label>
                <input asp-for="GoogleSearchConsolePassword" class="form-control" />
                <span asp-validation-for="GoogleSearchConsolePassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BingWemasterToolsUrl" class="control-label"></label>
                <input asp-for="BingWemasterToolsUrl" class="form-control" />
                <span asp-validation-for="BingWemasterToolsUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BingWemasterToolsUsername" class="control-label"></label>
                <input asp-for="BingWemasterToolsUsername" class="form-control" />
                <span asp-validation-for="BingWemasterToolsUsername" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BingWemasterToolsPassword" class="control-label"></label>
                <input asp-for="BingWemasterToolsPassword" class="form-control" />
                <span asp-validation-for="BingWemasterToolsPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GoogleMyBusinessUrl" class="control-label"></label>
                <input asp-for="GoogleMyBusinessUrl" class="form-control" />
                <span asp-validation-for="GoogleMyBusinessUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GoogleMyBusinessUsername" class="control-label"></label>
                <input asp-for="GoogleMyBusinessUsername" class="form-control" />
                <span asp-validation-for="GoogleMyBusinessUsername" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GoogleMyBusinessPassword" class="control-label"></label>
                <input asp-for="GoogleMyBusinessPassword" class="form-control" />
                <span asp-validation-for="GoogleMyBusinessPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KeyWords" class="control-label"></label>
                <input asp-for="KeyWords" class="form-control" />
                <span asp-validation-for="KeyWords" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TargetKeyPhases" class="control-label"></label>
                <input asp-for="TargetKeyPhases" class="form-control" />
                <span asp-validation-for="TargetKeyPhases" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TargetAreas" class="control-label"></label>
                <input asp-for="TargetAreas" class="form-control" />
                <span asp-validation-for="TargetAreas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompetitorsUrl" class="control-label"></label>
                <input asp-for="CompetitorsUrl" class="form-control" />
                <span asp-validation-for="CompetitorsUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SocialMedia" class="control-label"></label>
                <input asp-for="SocialMedia" class="form-control" />
                <span asp-validation-for="SocialMedia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SocialMedia2" class="control-label"></label>
                <input asp-for="SocialMedia2" class="form-control" />
                <span asp-validation-for="SocialMedia2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SocialMedia3" class="control-label"></label>
                <input asp-for="SocialMedia3" class="form-control" />
                <span asp-validation-for="SocialMedia3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SocialMedia4" class="control-label"></label>
                <input asp-for="SocialMedia4" class="form-control" />
                <span asp-validation-for="SocialMedia4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OtherMarketingTypes" class="control-label"></label>
                <input asp-for="OtherMarketingTypes" class="form-control" />
                <span asp-validation-for="OtherMarketingTypes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MonthlyBudget" class="control-label"></label>
                <input asp-for="MonthlyBudget" class="form-control" />
                <span asp-validation-for="MonthlyBudget" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MonthlyClientTarget" class="control-label"></label>
                <input asp-for="MonthlyClientTarget" class="form-control" />
                <span asp-validation-for="MonthlyClientTarget" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpandPlaning" class="control-label"></label>
                <input asp-for="ExpandPlaning" class="form-control" />
                <span asp-validation-for="ExpandPlaning" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MarketingGoals" class="control-label"></label>
                <input asp-for="MarketingGoals" class="form-control" />
                <span asp-validation-for="MarketingGoals" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
