td, th, p {
        font-size: 115%;
}

#box {
    background-color: honeydew;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
}

#btn-standard{
    background-color:black;
    font-weight: bold;
    color: white;
    text-shadow: none;
}
dd{
    padding: 2px;
}

label {
    font-size: 1.2em;
    font-weight: bold;
}


#progressSemiCircle {
    margin: 20px;
    width: 200px;
    height: 100px;
}

