body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/*Styles common to details page*/
td, th, p {
    font-size: 115%;
}

#box {
    background-color: honeydew;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
}

#btn-standard {
    background-color: black;
    font-weight: bold;
    color: white;
    text-shadow: none;
}

ol {
    list-style-type: none;
}

.rectangle {
    width: 300px;
    background-color: darkslategrey;
    color: black;
    padding: 25px;
    margin: 25px;
    float: left;
}
