/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/*Styles common to details page*/
td, th, p {
    font-size: 115%;
}

#box {
    background-color: #E8F7F7;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
}

#btn-standard {
    background-color: black;
    font-weight: bold;
    color: white;
    text-shadow: none;
}

ol {
    list-style-type: none;
}

nav {
    margin-bottom: 5px;
}
/*


.rectangle {
    width: 300px;
    font-size: small;
    background-color: white;
    color: #333333;
    border: 1px solid #333333;
    border-radius: 5px;
    padding: 10px;
    margin: 25px;
    float: left;
}

#insideRectangle {
    width: 260px;
    font-size: small;
    background-color: #F3F3F3;
    color: #333333;
    border: 1px solid #333333;
    border-radius: 5px;
    padding: 10px;
    padding-bottom: 10px;
    float: left;
}

#outsideRectangle {
    background-color: #E8F7F7;
}

#largCard {
    width: 1040px;
    background-color: #F3F3F3;
    margin: 10px 5px 10px 10px;
}

#largBox {
    font-size: small;
    background-color: white;
    color: #333333;
    border: 1px solid #333333;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    float: left;
}
#largGreyBox {
    width: 1040px;
    font-size: small;
    background-color: #F3F3F3;
    color: #333333;
    border: 1px solid #333333;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    float: left;
}
    */