@{
    ViewData["Title"] = "Forgot password confirmation";
}

<style>
    #forgotPassword {
        font-size: 120%;
    }
</style>

<br />
<div class="text-center" id="forgotPassword">
    <h2 class="font-weight-bold">@ViewData["Title"]</h2>
    <p>
       We have sent you an email to reset your password. <br />
       Please check your email and follow the instructions. 
    </p>
    <p class="text-danger">
        Please check your spam.
    </p>
</div>