@{
    ViewData["Title"] = "Reset password confirmation";
}
<br />
<div class="text-center">
    <h1 class="font-weight-bold">@ViewData["Title"]</h1>
    <p class=" font-weight-bold">
        Your password has been reset. <br /><br />Please <a asp-action="Login">click here to log in</a>.
    </p><br />
</div>