@model PMTool.Models.Employee

@{
    ViewData["Title"] = "Edit Employee";
}
<style>

    label {
        font-size: 125%;
    }
</style>

<br />
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h2 class="text-center">@ViewData["Title"]</h2>
        <hr />
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-5">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="EmployeeId" />
                    <div class="form-group">
                        <label asp-for="PersonId" class="control-label">Employee</label>
                        <select asp-for="PersonId" class="form-control" asp-items="ViewBag.PersonId"></select>
                        <span asp-validation-for="PersonId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EmployeeNumber" class="control-label">Employee Number</label>
                        <input asp-for="EmployeeNumber" class="form-control" />
                        <span asp-validation-for="EmployeeNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-light" />
                    </div>
                </form>
                <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
