@model IEnumerable<PMTool.Models.Project>
@{
    ViewData["Title"] = "Projects";
}
<h2>Index</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="container">
    <ol>
        @foreach (var item in Model)
        {
            <li class="rectangle">
                <a asp-controller="projects" asp-action="Details" asp-route-id="@item.ProjectId">
                    <span class="projectRectangle">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">@Html.DisplayFor(modelItem => item.ProjectName)<br /></div>
                        <div class="col-md-4"></div>
                        <div>@Html.DisplayFor(modelItem => item.StartDate) - @Html.DisplayFor(modelItem => item.EndDate)</div>
                    </span>
                </a>
            </li>

        }
    </ol>
</div>