@model IEnumerable<PMTool.Models.Project>
@{
    ViewData["Title"] = "Projects";
}
<h2>Index</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<ol>
    @foreach (var item in Model)
        {
            <li class="rectangle">
                <a asp-controller="projects" asp-action="Details" asp-route-id="@item.ProjectId">
                <span class="projectRectangle">
                @Html.DisplayFor(modelItem => item.ProjectName)<br />
                @Html.DisplayFor(modelItem => item.StartDate) - @Html.DisplayFor(modelItem => item.EndDate)
                </span>
                </a>
            </li>
        }
</ol>

